/*
Interface CSS
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}

header {
    height: 100px;
    background-color: #000;
    color: #fff;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logoimg {
    width: 80px;
    height: 80px;
    background-color: #b28756;
    border-radius: 30px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 5px solid #000;
    display: flex;
    align-items: center;
    height: 100px;
}

.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid #b28756;
    color: #ccc;
}

.button {
    display: inline-block;
    background-color: #b28756;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
    margin-top: 32px;
    padding: 8px 24px;
    border-radius: 20px;
}

.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../../media/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.banner .sliders {
    width: 500vw;
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.banner h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
}

.banner h1 span {
    color: #b28756;
}


.banner h2 {
    text-transform: uppercase;
    margin-top: 24px;
}

.banner .slider-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-left: 5px;
    border: 2px solid #b28756;
    border-radius: 8px;
    cursor: pointer;
}

.banner .pointer.active {
    background-color: #b28756;
}

.default {
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section-title,
.default .section-desc {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

.default .section-title {
    font-size: 20px;
}

.default .section-desc {
    font-size: 13px;
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .section-body {
    max-width:  1140px;
    margin: auto;
}

.default.light {
    background-color: #f7f7f7;

}

.default.light .section-title
.default.light .section-body {
    color: #000;
}

.default.dark {
    background-color: #000;
}

.default.dark .section-title,
.default.dark .section-body {
    color: #fff;
}





/*
Especific area CSS
*/

.section-aboutus {
    display: flex;
}

.section-aboutus--left {
    flex: 1;
}

.section-aboutus--left p {
    font-size: 14;
    line-height: 24px;
}

.section-aboutus--right {
    width: 520px;
}

.section-aboutus--right img {
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}


.section-services {
    display: flex;
    text-align: center;
}

.section-service {
    flex: 1;
    padding: 24px;
    border-right: 1px solid #333;
}

.section-service:first-child {
    border-left: 1px solid #333;
}

.section-service h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 16px;
}

.section-service p {
    color: #999;
    margin-top: 10px;
    font-size: 13px;

}


.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--filters {
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
}

.section-projects--filters ul,
.section-projects--filters li {
    list-style: none;
}

.section-projects--filters li{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px;
    border-right: 1px solid #ccc;
    border-bottom: 3px solid #eee;
    cursor: pointer;
    color: #555;
}

.section-projects--filters li:last-child {
    border-right: none;
}

.section-projects--filters li:hover,
.section-projects--filters li.active {
    border-bottom: 3px solid #b28756;
}

.section-projects--photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects--photo {
    width: 280px;
}

.section-projects--photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects--photoarea img {
    width: inherit;
    height: inherit;    
}

.section-projects--photoinfo {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    color: #fff;
}

.section-projects--photoinfo h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.section-projects--photoinfo p {
    text-align: center;
}

.section-projects--photoarea:hover .section-projects--photoinfo {
    display: flex;
}


.bg-team {
    background-image: url('../../media/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0px;
}

.section-team-area {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 50px 0px;
}

.section-team {
    overflow: hidden;
    max-width: 888px;
    margin: auto;
}

.section-team .sliders {
    width: 500vw;
    height: 100%;
}

.section-team .slide {
    width: 280px;
    height: 100%;
    display: inline-block;
    background-color: #fff;
    margin-right: 24px;
    min-height: 300px;
}

.section-team .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #000;
    padding: 32px;
}

.section-team-area .slider-pointers {
    margin-top: 32px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-team-area .pointer {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-left: 5px;
    border: 2px solid #b28756;
    border-radius: 8px;
    cursor: pointer;
}

.section-team-area .pointer.active {
    background-color: #b28756;
}

.section-team--avatar {
    width: 150px;
    height: auto;
}

.section-team--name {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    margin-top: 32px;
}

.section-team--role {
    color: #999;
    font-size: 14px;
    margin-top: 8px;
}

.section-team--social {
    display: flex;
    margin-top: 24px;
}

.section-team--social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: #ccc;
    border-radius: 12px;
    margin-right: 8px;
}

.section-team--social a:hover {
    background-color: #b28756;
} 

.default.light.clients {
    background-color: rgb(247, 247, 247);
    padding-bottom: 0px;
}

.section-clients {
    overflow: hidden;
    max-width: 888px;
    margin: auto;
}

.section-clients .sliders {
    width: 300vw;
    height: 100%;
}

.section-clients .slide {
    width: 888px;
    height: 100%;
    display: inline-block;
}

.section-clients .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #000;
}

.section-clients .slider-pointers {
    width: 888px;
    height: 20px;
    margin-top: 8px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-clients .pointer {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-left: 5px;
    border: 2px solid #b28756;
    border-radius: 8px;
    cursor: pointer;
}

.section-clients .pointer.active {
    background-color: #b28756;
}

.section-clients--avatar {
    width: 150px;
    height: auto;
    margin-top: 24px;
}

.section-clients--name {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin-top: 24px;
}

.section-clients--role {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    margin-top: 8px;
}

.slidearea p {
    margin: 32px 0px;
    text-align: center;
    line-height: 1.8;
    color: #777;
}

.awards .section-body {
    max-width: none;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

.section-awards {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 128px;
    padding-left: 128px;
}

.section-awards .award {
    margin-right: 24px;
    flex: 1;
}

.section-awards .award:last-child {
    margin-right: 0px;
 }

 .section-awards .award img {
    display: block;
 }